@media (min-width: 1600px){
    header ul li a{
        font-size: 1.2em;
    }

    section{
        padding: 3% 0;
    }

    section .container > h1{
        font-size: 2.35em;
    }

    section#paypaul {
        padding-top: 6%;
    }

    section#pricing .pricingPlan ul li{
        font-size: 1.2em;
    }

    section#pricing .pricingPlan a{
        padding: 0.9em 0;
        font-size: 1.2em;
        margin: 1.5em 0;
    }
}

@media (max-width: 980px) {

    section .container > h1{
        font-size: 2.5em;
    }

    footer{
        text-align: center;
    }

    footer .copyright{
        padding-top: 2%;
        float: none;
    }
}

@media (max-width: 800px) {
    header ul li{
        padding: 17px 5px;
    }

    section#pricing .pricingPlan h2{
        padding: 0.4em;
        font-size: 1.8em;
    }

    section#pricing .pricingPlan p{
        padding: 0.7em 0;
        font-size: 1.2em;
    }

    section#pricing .pricingPlan ul li{
        font-size: 0.9em;
        padding: 0.9em 0;
    }

    section#pricing .pricingPlan a{
        padding: 0.8em 0;
        font-size: 1em;
        margin: 1.4em 0;
    }

    section#pricing .dark a{
        margin: 1.7em 0;
    }

    section .client a{
        font-size: 1.1em;
    }

    section .client  p{
        font-size: 1em;
    }
}

@media (max-width: 600px) {
    header{
        text-align: center;
    }

    header > a{
        text-align: center;
    }

    header nav{
        float: none
    }

    header ul li{
        padding-top: 0;
    }

    section#paypaul{
        padding-top: 20%;
    }

    section#paypaul .container> img, section#newlyAdded img{
        max-width: 100%;
    }

    section#pricing .pricingPlan{
        width: 70%;
        margin: 2% auto 3%;
        display: block;
    }

    section#pricing .pricingPlan ul li{
        font-size: 1.1em;
    }

    section#pricing .pricingPlan a{
        font-size: 1.2em;
    }

    section#pricing .dark a{
        margin: 1.5em 0;
    }
    section .client{
        display: block;
        width: 80%;
        margin: 0 auto;
    }

    section .client img{
        width: 90%;
        padding: 4%;
    }

    section .client:nth-last-child(2){
        margin: 0 auto;
    }

    section .client a{
        font-size: 1.2em;
    }

    section .client  p{
        font-size: 1.2em;
    }

    section .client .wrap{
        margin-bottom: 1%;
    }
    
     footer ul li{
        display: block;
        padding: 0.5em 0;
    }
}

@media (max-width: 560px) {
    footer ul, footer .copyright, footer .menu{
        display: block;
    }

    footer ul li {
        display: block;
        padding: 2%;
    }

    footer {
        text-align: center;
    }
}


@media (max-width: 500px) {
    .container{
        width: 100%;
    }

    section .container > h1{
        font-size: 2.1em;
    }

    section#paypaul .container > p.description {
        font-size: 1em;
        padding: 2% 0 4%;
    }

    section .container > h1{
        font-size: 2em;
    }

    section#paypaul .container > h2{
        font-size: 1.5em;
    }

    section#paypaul .container > p.description {
        font-size: 1em;
        padding: 2% 0 4%;
    }

    section#paypaul .container> a{
        font-size: 1em;
        padding: 5px 15px;
        margin: 1em 0;
    }

    section#paypaul .container p:nth-last-child(1){
        font-size: 1em;
    }

    section#clients .socialIcons h2 {
        padding-top: 0.8em;
        font-size: 1.5em;
    }
}

@media (max-width: 440px) {
    header ul {
        padding: 0;
        margin: 0;
    }

    header ul li a{
        font-size: 1em;
    }

    section#paypaul{
        padding-top: 30%;
    }

    section#pricing .pricingPlan {
        width: 90%;
        margin: 2% auto 3%;
        display: block;
    }
}

@media (max-width: 390px) {
    section .container > h1 {
        font-size: 1.6em;
    }
}

@media (max-width: 340px){
    section#paypaul{
        padding-top: 40%;
    }
}