@import url(https://fonts.googleapis.com/css?family=Montserrat:400);
@font-face {
  font-family: 'AmbleRegular';
  src: url(../fonts/Amble-Light.ttf);
}
section a,
nav a, 
footer a,
nav a:hover,
nav a:visited,
section a:visited,
a:active,
a img,
a:focus {
  text-decoration: none;
  border: transparent;
  outline: none;
}
body {
  padding: 0;
  margin: 0;
  font-family: 'AmbleRegular', sans-serif;
}
body .container {
  width: 90%;
  margin: 0 auto;
}
header {
  position: fixed;
  width: 100%;
  background-color: #fff;
  z-index: 1;
}
header nav {
  display: block;
  float: right;
}
header ul {
  list-style-type: none;
  margin: 0;
}
header ul li {
  display: inline-block;
  padding: 17px 10px;
}
header ul li a {
  letter-spacing: 1px;
  color: #999;
  font-family: 'Montserrat', sans-serif;
}
header ul li a:hover,
header ul li.active a {
  color: #000;
}
section {
  text-align: center;
  padding: 5% 0;
}

section .container > h1 {
   margin: 0;
   font-size: 4em;
 }
section#paypaul {
  padding-top: 10%;
}

section#paypaul .container > p.description {
  font-size: 1.6em;
  margin: 0;
  padding: 1% 0 4%;
}
section .container > h2 {
  font-size: 2.5em;
  margin: 0;
}
section .container > h1,
section .container > h2 {
  color: #333;
  font-weight: normal;
  font-family: 'AmbleRegular', sans-serif;
}
section .container > h1 span,
section .container > h2 span {
  font-family: 'Montserrat', sans-serif;
}
section#paypaul .container > img {
  max-width: 90%;
}
section#paypaul .container > a {
  text-transform: uppercase;
  color: #fff;
  letter-spacing: 1px;
  font-size: 1.2em;
  display: inline-block;
  padding: 10px 25px;
  margin: 2em 0 1.6em 0;
  background: #3998F5;
  background: linear-gradient(to top, #1777d9, #3998F5);
  border-radius: 2px;
}
section#paypaul .container > a:hover {
  color: #fff;
  background: linear-gradient(to bottom, #1777d9, #3998F5);
}
section#paypaul .container > a img {
  vertical-align: middle;
}
section#paypaul .container p:nth-last-child(1) {
  font-size: 1.2em;
}
section p {
  color: #333;
}
section .container > p span {
  color: #3998F5;
  font-family: 'Montserrat', sans-serif;
}
section#newlyAdded {
  background-color: #f7f7f7;
  box-shadow: inset 0px 0px 20px rgba(153, 153, 153, 0.5);
}
section#newlyAdded img {
  max-width: 90%;
}
section#pricing h1 {
  padding-bottom: 4%;
}
section#pricing .pricingPlan {
  width: 26%;
  margin: 0 2%;
  display: inline-block;
  border-radius: 10px;
  text-align: center;
  box-shadow: 0px 0px 10px rgba(153, 153, 153, 0.8);
}
section#pricing .pricingPlan h2 {
  margin: 0;
  padding: 0.7em;
  font-size: 2.2em;
  color: #3e4f6a;
}
section#pricing .pricingPlan p {
  background-color: #333;
  color: #fff;
  padding: 1em 0;
  margin: 0;
  font-size: 1.5em;
}
section#pricing .dark h2 {
  color: #fff;
  background-color: #333;
  border-radius: 10px 10px 0 0 ;
}
section#pricing .dark p {
  background-color: #000;
}
section#pricing .pricingPlan ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
section#pricing .pricingPlan ul li {
  font-size: 1.2em;
  padding: 1em 0;
  border-bottom: 1px solid rgba(153, 153, 153, 0.2);
}
section#pricing .pricingPlan ul li span {
  color: #3998F5;
}
section#pricing .pricingPlan a {
  display: inline-block;
  padding: 1em 0;
  width: 70%;
  font-size: 1.1em;
  margin: 1.5em 0;
  border-radius: 0.3em;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #000;
  background-color: transparent;
  border: 2px solid #3998F5;
  transition: 0.3s all ease;
}
section#pricing .pricingPlan a:hover {
  color: #fff;
  background-color: #3998F5;
}
section#pricing .dark a {
  color: #fff;
  background-color: #3998F5;
  margin: 1.9em 0;
}
section#clients h1 {
  padding-bottom: 4%;
}
section .client {
  text-align: left;
  display: inline-block;
  width: 23%;
  margin-right: 1%;
}
section .client:nth-last-child(2) {
  margin-right: 0;
}
section .client img {
  width: 90%;
  padding: 4%;
  box-shadow: 0 0 7px rgba(153, 153, 153, 0.6);
  box-sizing: content-box;
}
section .client .wrap {
  position: relative;
  width: 100%;
  margin-bottom: 7%;
}

section .client .wrap a::before{
  content: '';
  width: 90%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 5%;
  background: url('../img/zoom.png') 50% top no-repeat;
  background-size: 30%;
  opacity: 0;
  transition: 0.3s all ease;
}

section .client .wrap:hover a::before{
  background: url('../img/zoom.png') 50% center no-repeat;
  opacity: 1;
}

section .client a {
  font-size: 1.3em;
  color: #333;
  font-family: 'Montserrat', sans-serif;
}
section .client a:hover {
  color: #3998F5;
}
section .client p {
  font-size: 1.1em;
  color: #333;
  font-family: 'AmbleRegular', sans-serif;
}
section#clients .socialIcons {
  text-align: center;
}
section#clients .socialIcons h2 {
  padding-top: 1em;
  font-size: 2em;
  color: #333;
  font-weight: normal;
}
section#clients .socialIcons a {
  display: inline-block;
  width: 40px;
  height: 40px;
  margin: 0 0.8%;
  border-radius: 50%;
  background-color: #000;
  text-align: center;
  transition: 0.2s all ease;
}
section#clients .socialIcons a:hover {
  background-color: #3998F5;
}
section#clients .socialIcons .fa {
  padding-top: 0.6em;
  color: #fff;
}
footer {
  color: #999;
  font-family: 'Montserrat', sans-serif;
  padding-bottom: 3%;
}
footer ul {
  display: inline-block;
  list-style-type: none;
  margin: 0;
  padding: 0;
}
footer ul li {
  display: inline-block;
}
footer ul li a {
  color: #999;
  padding: 5px;
  letter-spacing: 1px;
}
footer ul li:hover a {
  color: #000;
}
footer .copyright,
footer .menu {
  display: inline-block;
}
footer .copyright {
  float: right;
}
