@black: #000;
@darkGrey: #333;
@grey: #999;
@lightGrey: #f7f7f7;
@white: #fff;
@darkBlue: #1777d9;
@blue: #3998F5;

@import (optional) url(https://fonts.googleapis.com/css?family=Montserrat:400);
@font-face {
  font-family: 'AmbleRegular';
  src: url(../fonts/Amble-Light.ttf);
}

section a, nav a,nav a:hover, nav a:visited, section a:visited, a:active, a img, a:focus {
  text-decoration: none;
  border: transparent;
  outline: none;
}

body{
  padding: 0;
  margin: 0;
  font-family: 'AmbleRegular', sans-serif;
}

body .container{
  width: 90%;
  margin: 0 auto;
}

header{
  position: fixed;
  width: 100%;
  background-color: @white;
  z-index: 1;
}

header nav{
  display: block;
  float: right;
}

header ul {
  list-style-type: none;
  margin: 0;
}

header ul li{
 display: inline-block;
  padding: 17px 10px;
}

header ul li a{
  letter-spacing: 1px;
  color: @grey;
  font-family: 'Montserrat', sans-serif;
}

header ul li a:hover, header ul li.active a{
  color: @black;
}

section{
  text-align: center;
  padding: 5% 0;
}

section#paypaul{
  padding-top: 10%;
}

section .container > h1{
  margin: 0;
  font-size: 4em;
}

section#paypaul .container > p.description{
  font-size: 1.6em;
  margin: 0;
  padding: 1% 0 4%;
}

section .container > h2{
  font-size: 2.5em;
  margin: 0;
}

section .container > h1, section .container > h2{
  color: @darkGrey;
  font-weight: normal;
  font-family: 'AmbleRegular', sans-serif;
}

section .container > h1 span, section .container > h2 span{
  font-family: 'Montserrat', sans-serif;
}

section#paypaul .container> img{
  max-width: 90%;
}

section#paypaul .container> a{
  text-transform: uppercase;
  color: @white;
  letter-spacing: 1px;
  font-size: 1.2em;
  display: inline-block;
  padding: 10px 25px;
  margin: 2em 0 1.6em 0;
  background: @blue; //for IE < 11
  background: linear-gradient(to top, @darkBlue, @blue);
  border-radius: 2px;
}

section#paypaul .container > a:hover{
  color: @white;
  background: linear-gradient(to bottom, @darkBlue, @blue);
}

section#paypaul .container> a img{
  vertical-align: middle;
}

section#paypaul .container p:nth-last-child(1){
  font-size: 1.2em;
}

section p{
  color: @darkGrey;
}

section .container> p span{
  color: @blue;
  font-family: 'Montserrat', sans-serif;
}

section#newlyAdded{
  background-color: @lightGrey;
  box-shadow: inset 0px 0px 20px rgba(153,153,153,0.5);
}

section#newlyAdded img{
  max-width: 90%;
}

section#pricing h1{
  padding-bottom: 4%;
}

section#pricing .pricingPlan{
  width: 26%;
  margin: 0 2%;
  display: inline-block;
  border-radius: 10px;
  text-align: center;
  box-shadow: 0px 0px 10px rgba(153,153,153,0.8);
}

section#pricing .pricingPlan h2{
  margin: 0;
  padding: 0.7em;
  font-size: 2.2em;
  color: #3e4f6a;
}

section#pricing .pricingPlan p{
  background-color: @darkGrey;
  color: @white;
  padding: 1em 0;
  margin: 0;
  font-size: 1.5em;
}

section#pricing .dark h2{
  color: @white;
  background-color: @darkGrey;
  border-radius: 10px 10px 0 0 ;
}

section#pricing .dark p{
  background-color: @black;
}

section#pricing .pricingPlan ul{
  list-style-type: none;
  margin: 0;
  padding: 0;
}

section#pricing .pricingPlan ul li{
  font-size: 1.2em;
  padding: 1em 0;
  border-bottom: 1px solid rgba(153,153,153,0.2);
}

section#pricing .pricingPlan ul li span{
  color: @blue;
}

section#pricing .pricingPlan a{
  display: inline-block;
  padding: 1em 0;
  width: 70%;
  font-size: 1.1em;
  margin: 1.5em 0;
  border-radius: 0.3em;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: @black;
  background-color: transparent;
  border: 2px solid @blue;
  transition: 0.3s all ease;
}

section#pricing .pricingPlan a:hover{
  color: @white;
  background-color: @blue;
}

section#pricing .dark a{
  color: @white;
  background-color: @blue;
  margin: 1.9em 0;
}

section#clients h1{
  padding-bottom: 4%;
}

section .client{
  text-align: left;
  display: inline-block;
  width: 23%;
  margin-right: 1%;
}
section .client:nth-last-child(2){
  margin-right: 0;
}

section .client img{
  width: 90%;
  padding: 4%;
  box-shadow: 0 0 7px rgba(153, 153, 153, 0.6);
  box-sizing: content-box;
}

section .client .wrap{
  position: relative;
  width: 100%;
  margin-bottom: 7%;
}

section .client .wrap .scale{
  width: 100%;
  position: absolute;
  top: 0;
  height: 100%;
  background: url('../img/zoom.png') top center no-repeat;
  background-size: 30%;
  opacity: 0;
  transition: 0.3s all ease;
}

section .client .wrap:hover .scale{
  opacity: 1;
  background: url('../img/zoom.png') center center no-repeat;
}

section .client a{
  font-size: 1.3em;
  color: @darkGrey;
  font-family: 'Montserrat', sans-serif;
}

section .client a:hover{
  color: @blue;
}

section .client  p{
  font-size: 1.1em;
  color: @darkGrey;
  font-family: 'AmbleRegular', sans-serif;
}

section#clients .socialIcons {
  text-align: center;
}

section#clients .socialIcons h2{
  padding-top: 1em;
  font-size: 2em;
  color: @darkGrey;
  font-weight: normal;
}

section#clients .socialIcons a{
  display: inline-block;
  width: 40px;
  height: 40px;
  margin: 0 0.8%;
  border-radius: 50%;
  background-color: @black;
  text-align: center;
  transition: 0.2s all ease;
}

section#clients  .socialIcons a:hover{
  background-color: @blue;
}

section#clients  .socialIcons .fa{
  padding-top: 0.6em;
  color: @white;
}

footer{
  color: @grey;
  font-family: 'Montserrat', sans-serif;
  padding-bottom: 3%;
}

footer ul{
  display: inline-block;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

footer ul li{
  display: inline-block;
}

footer ul li a{
  color: @grey;
  padding: 5px;
  letter-spacing: 1px;
}

footer ul li:hover a{
  color: @black;
}

footer .copyright, footer .menu{
  display: inline-block;
}

footer .copyright{
  float: right;
}
